.idea/
.vscode/
.settings/
.metadata/
.apt_generated/
.apt_generated_tests/

target/
logs/
upload/
frontend/node_modules/
frontend/dist/

.vite-dev.out.log
.vite-dev.err.log
*.log
*.gz
*.class
*.iml

src/main/resources/static/front/assets/*.map
